/* ESTILOS GENERALES */

*{
	box-sizing: border-box;
}

body, h1, h2, h3, h4, h5, p, ul{
	margin: 0;
	padding: 0;
}

body{
	font-family: 'Poppins', sans-serif;
}

.contenedor{
	max-width: 1300px;
	width: 90%;
	margin: auto;
}

ul{
	list-style: none;
}

a{
	text-decoration: none;
	color: black;
}

.menu-icon{
	display: none;
	width: 40px;
	height: 40px;
}

.iniciales{
	color: #e9b21e;
}

.boton{
	border: 1px solid white;
	color: #e9b21e;
	padding: 15px 20px;
	letter-spacing: 2px;
	font-size: 14px;
	font-weight: 600;
	cursor: pointer;
	display: inline-block;

}

.boton2{
	border: 1.5px solid #e9b21e;
	color: #e9b21e;
	padding: 10px 20px;
	letter-spacing: 2px;
	font-size: 14px;
	font-weight: 600;
	cursor: pointer;

}

/* Estilos para el header menu-principal */

.menu-principal{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px 0;
}

.logo{
	font-size: 23px;
	font-weight: 600;
	letter-spacing: 10px;
}

header nav ul{
	display: flex;
}

header nav ul li{
	padding: 0 20px;
	color: #656565;
	font-weight: 500;
	font-size: 17px;
}

.titulos{
	background-image: url(../img/hotel.jpeg);
	padding: 150px 0;
	background-size: cover;
	color: white;
	height: 100vh;
	text-align: center;


}

.titulo{
	width: 40%;
}

.titulos h1{
	font-size: 80px;
	letter-spacing: 70px;
	font-weight: 700;
}

.titulos h2{
	font-size: 40px;
	font-weight: 500;
	margin-bottom: 10px;
	letter-spacing: 50px;
	width: 50%;
	margin-left: auto;
	margin-right: auto;
}

.titulos p{
	opacity: .8;
	margin-bottom: 40px;
	letter-spacing: .3px;
}

/* Estilos para la sección de presentación */

.presentacion{
	text-align: center;
	background: #FAFAFA;
	padding: 90px 0;
}

.presentacion h2, .caracteristicas h2, .regalos h2, .blog h2{
	display: inline-block;
	margin-left: 10px;
	margin-right: 10px;
	color: #333;
	font-weight: 600;
	font-size: 16px;
	margin-bottom: 20px;
}

.presentacion h3, .caracteristicas h3, .regalos h3, .blog h3{
	font-size: 35px;
	font-weight: 500;
	letter-spacing: 2px;
	color: #333;
	margin-bottom: 10px;
}

.presentacion p{
	width: 65%;
	margin-left: auto;
	margin-right: auto;
	color: gray;
	font-size: 15px;
	line-height: 27px;
	margin-bottom: 40px;
}

/* Estilos para la sección nuestros cuartos */

.nuestros-cuartos, .caracteristicas{
	background: #F0F0F0;
	padding: 90px 0;

}

.cuartos{
	display: flex;
	justify-content: center;
}

.cuartos h2{
	font-size: 30px;
	font-weight: 500;
	color: #333;
	margin-bottom: 10px;
}

.cuartos p{
	color: gray;
	font-size: 15px;
	margin-bottom: 40px;

}


.cuartos-izquierda, .cuartos-derecha{
	width: 41%;
	margin-left: 40px;
}

.cuartos-izquierda{
	margin-top: 40px;
}



.cuartos img{
	width: 100%;
	margin-bottom: 20px;
	-webkit-box-shadow: 0px 0px 50px 0px rgba(0,0,0,0.2);
	-moz-box-shadow: 0px 0px 50px 0px rgba(0,0,0,0.2);
	box-shadow: 0px 0px 50px 0px rgba(0,0,0,0.2);
}

.cuartos-derecha img{
	height: 361px;
}

.botones{
	background: #e9b21e;
	padding: 40px 0 40px 40px;
}

.botones p{
	color: white;
}

.botones .boton{
	color: #333;
	border: none;
	background: white;
}

.botones .boton:last-child{
	margin-left: 10px;
}

/* Estilos para la sección de testimonios */

.testimonios{
	background:linear-gradient(270deg, rgba(233,178,30,.9) 0%, 
		rgba(233,178,30,.9) 100%) 
	,url(../img/habitacion.jpeg) fixed bottom;
	color: white;
	padding: 80px 0;
	text-align: center;
	background-size: cover;
}

.testimonios p{
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 40px;
	text-align: center;
	line-height: 27px;
}

.foto img{
	width: 100px;
	height: 100px;
	border-radius: 50%;
	vertical-align: middle;
}

.foto h2{
	display: inline;
	margin-left: 10px;
	font-weight: 600;
	font-size: 16px;
}

/* Estilos para la sección caracteristicas */

.caracteristicas{
	text-align: center;
}

.caracteristicas h3{
	margin-bottom: 20px;
}

.caracteristicas p{
	color: gray;
	width: 60%;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 40px;
}

.caracteristica{
	display: flex;
	justify-content: center;
}

.caracteristica-izquierda, .caracteristica-derecha{
	width: 47%;
}

.caracteristica-izquierda img{
	width: 100%;
}

.position{
	position: relative;
	top: -8px;
}

.position2{
	position: relative;
	top: -16px;
}

.caracteristica-derecha{
	text-align: left;
	padding: 60px 0 0 40px;
}

.caracteristica-derecha p{
	width: 96%;
	margin: 0;
	margin-bottom: 20px;
	font-size: 15px;
	line-height: 27px;
}

.reverse{
	flex-direction: row-reverse;
}

/* Estilos para la sección de regalos */

.regalos{
	text-align: center;
	padding: 90px 0;
	background: #FAFAFA;
}

.regalos p{
	color: gray;
	width: 60%;
	margin-left: auto;
	margin-right: auto;
	font-size: 15px;
	line-height: 27px;
	margin-bottom: 40px;
}

.regalo{
	display: flex;
	justify-content: space-around;
}

.regalo-item{
	width: 30%;
	border: 1px solid #DADADA;
	padding-bottom: 20px;
}

.regalo-item img{
	width: 100%;
	margin-bottom: 10px;
}

.regalo-item h4, .regalo-item h5{
	color: #333;
}

.regalo-item h4{
	font-size: 20px;
	letter-spacing: 2px;
	font-weight: 600;
	margin-bottom: 10px;
}

.regalo-item h5{
	font-size: 16px;
	font-weight: 500;
	letter-spacing: 1px;
}

/*ESTILOS PARA LA SECCIÓN BLOG */

.blog{
	text-align: center;
	padding: 90px 0;
	background: #F0F0F0;
}

.blog p{
	color: gray;
	width: 60%;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 60px;
	line-height: 27px;
}

.post{
	display: flex;
	justify-content: space-around;
}

.post-item{
	width: 30%;
	background: white;
	-webkit-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.2);
	-moz-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.2);
	box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.2);
}

.post-item img{
	width: 100%;
	margin-bottom: 20px;
}

.post-item h4{
	color: #333;
	font-size: 17px;
	font-weight: 600;
	margin-bottom: 10px;
}

.post-item p{
	text-align: justify;
	width: 90%;
	text-align: center;
	font-size: 15px;
	line-height: 27px;
}

/* Estilos para el footer */

footer{
	background: #222222;
	color: white;
	padding: 90px 0 1px;

}

.footer{
	display: flex;
	justify-content: space-around;
}

.info, .contacto{
	width: 27%;
}

.newsletter{
	width: 40%;
}

.redes-sociales-flex{
	display: flex;
}

footer h2{
	letter-spacing: 1px;
	margin-bottom: 20px;
	font-size: 18px;
	font-weight: 600;
}

footer p{
	font-size: 15px;
	line-height: 25px;
	margin-bottom: 20px;
}



.redes-sociales{
	display: flex;
	align-items: center;
}

i.fab{
	line-height: 35px;
	margin-left: 20px;
	width: 35px;
	height: 35px;
	border-radius: 50%;
	text-align: center;
	margin-bottom: 40px;
	cursor: pointer;
}

.fa-facebook-f{
	border: 2px solid blue;
	transition: .6s;
}

.fa-facebook-f:hover{
	background: blue;
	transition: .6s;
}

.fa-twitter{
	border: 2px solid lime;
	transition: .6s;
}

.fa-twitter:hover{
	background: lime;
	transition: .6s;
}

.fa-pinterest{
	border: 2px solid red;
	transition: .6s;
}

.fa-pinterest:hover{
	background: red;
	transition: .6s;
}

input[type='email']{
	outline: none;
	border: 0;
	background: none;
	border: 2px solid #e9b21e;
	padding: 15px;
	width: 100%;
	font-size: 16px;
	color: white;
}

form{
	width: 95%;
	position: relative;
	margin-bottom: 20px;
}

input[type='submit']{
	position: absolute;
	top: 4px;
	right: 4px;
	bottom: 4px;
	padding-left: 30px;
	padding-right: 30px;
	border: 0;
	outline: none;
	background: #e9b21e;
	color: white;
	font-size: 14px;
	letter-spacing: 2px;
	font-weight: 600;
	cursor: pointer;
}

.bold{
	font-weight: 600;
	font-size: 16px;
}

.contacto li{
	font-size: 14px;
	margin-bottom: 30px;
}

.contacto li:last-child{
	cursor: pointer;
}
.spam{
	font-weight: 500;
}

hr{
	border: .5px solid white;
	opacity: .1;
}

.creador{
	text-align: center;
	padding-top: 10px;
	opacity: .8;
}






