
/*

  INSTRUCTIONS ---------------------------------------------------------------------------------
  
  1. Add this stylesheet to the <head> of your pages
     <link href="YOUR PATH/style-datedropper.css" rel="stylesheet" type="text/css" />
     
  2. Use the file name as data-dd-theme attribute on your datedropper elements
     <input data-dd-theme="style-datedropper" />
     
*/


div.datedropper.style-datedropper {

  --dd-color1: #e9b21e;
  --dd-color2: #FFFF;
  --dd-color3: #333;
  --dd-color4: #FFFF;

  --dd-radius: 14px;
  --dd-width: 200px;
  --dd-shadow: 0 0 13px 0px rgba(0, 0, 0, .6);
  

}

div.datedropper .picker .pick-lg ul.pick-lg-h {
  background: #333 !important;
}

